{% extends "vistaprevia/plantilla.html" %}
{% load static %}
{% load i18n %}
{% block content %}
      <div class="container">
         <div class="jumbotron">
            <h2>Formulario de Carga</h2>
         </div>
      </div>

      <main class="container">
         <div class="row" >
            <section class="col-12" style="  padding:30px; 30px; 230px; 30px;">
                    <form action="{% url 'cargar' %}"  method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_p }}
                        <input class="boton" type="submit" value="Submit">
                    </form>
            </section>
         </div>
      </main>
{% endblock %}
{% block javascript %}

    <script type="text/javascript" src="{% static 'vistaprevia/js/jquery-ui.js' %}"></script>
    <link href="{% static 'vistaprevia/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
 <script>
 $( "#id_fecha_publicacion" ).datepicker({
 inline: true
 });
 </script>
{% endblock %}