{% extends "vistaprevia/plantilla.html" %}
{% block content %}
      <div class="container">
         <div class="jumbotron">
            <h1>Ver Imagen</h1>
         </div>
      </div>

      <main class="container">
         <div class="right" >
            <section class="col-12"  >
               <h2> Id de la imagen: {{ producto.id }}</h2>
               <h2> Nombre del Libro: {{ producto.producto }}</h2>
               {% load staticfiles %}
               <img src="/media/{{producto.ruta_imagen}}"  alt="My image" width="20%"/>

               <a href="{% url 'verimagenes' %}">Ver Todas las Imágenes</a>
            </section>
         </div>
      </main>
{% endblock %}